<html>
<meta name="viewport" content="width=device-width, initial-scale=1 .0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.7.2/css/all.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>

<div class="wrapper bg-white">
  <div class="h2 text-center">NIIT</div>
  <div class="h2 text-center">LTD-Informatique</div>
  <div class="h5 font-weight-bold">Registration</div>
  <div class="text-muted">Enter your registration details</div>
    <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1">
      <div class="form-group"><label class="text-muted mandatory">Name</label> {{student.name}}
      </div>
      <div class="form-group"><label class="text-muted mandatory">Full Name</label> {{student.fullname}}
      </div>
    </div>
    <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1">
      <div class="form-group">
        <div><label class="text-muted mandatory">Numcall</label></div>
        <div class="form-group"><label class="text-muted">Numcall</label> {{student.numcall}}
        </div>

      </div>
      <div class="form-group"><label class="text-muted">Niveau</label> {{student.niveau}}
      </div>
    </div>
    <div class="d-sm-flex align-items-sm-center justify-content-sm-between pt-1">
      <div class="form-group"><label class="text-muted mandatory">My Email</label> {{student.email}}
      </div>
      <div class="form-group"><label class="text-muted">City</label> {{student.adresse}}</div>
    </div>
    <div class="d-flex align-items-center justify-content-sm-end button-section">
      <button class="btn btn-primary mx-4" type="submit">Submit</button>
      <button class="btn">Cancel</button>
    </div>
</div>
</body>

